.resume {
    color: #D1E8E2;
    margin: 0 auto;
  }

  div.react-pdf__Page__textContent.textLayer {
    display: none;
  }
  div.react-pdf__Page__annotations.annotationLayer {
    display: none;
  }
  
  .resume h1, p {
    text-align: center;
  }
  
  .resume-pdf {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .react-pdf__Page__canvas {
    margin: 0 auto;
  }
  
  .download-button {
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
    background-color: #116466;
    border-radius: 8px;
    color: #D1E8E2;
    padding: 10px 30px;
    border: 2px solid #FFCB9A;
  }
  
  .small-button {
    margin: 0, auto;
    background-color: #116466;
    border-radius: 10px;
    color: #D1E8E2;
    padding: 2px 10px;
    border: 2px solid #FFCB9A;
    font-size: 85%;
    width: 115px;
  }
  
  .button-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
  } 
  #pageText {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .fancy-link {
    color: #D1E8E2;
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
  }
  
  .fancy-link:hover {
    color: #FFCB9A;
  }